body {
  background-color: #ebebeb;
  font-family: sans-serif;
}

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
}

.selectContainer {
  width: 40%;
}
